<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.finals.mapper.ChannelMapper">
    <select id="findAll" resultType="channelEntity">
        select * from channel
        ORDER BY id DESC
    </select>

    <select id="findOneByInviteCode" parameterType="String" resultType="channelEntity">
        select * from channel
        where invite_code = #{inviteCode}
    </select>

    <select id="findOneById" parameterType="channelEntity" resultType="channelEntity">
        select * from channel
        where id = #{id}
    </select>

    <insert id="insert" parameterType="channelEntity">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select channel_seq.nextval from dual
        </selectKey>
        insert into channel (id, name, thumbnail, invite_code)
        values (#{id}, #{name}, #{thumbnail},#{inviteCode})
    </insert>

    <update id="update" parameterType="channelEntity">
        update channel
        set name = #{name}, thumbnail = #{thumbnail}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="channelEntity">
        delete from channel
        where id = #{id}
    </delete>
</mapper>