<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.finals.mapper.MemberMapper">
    <select id="findAll" resultType="memberEntity">
        select * from member
    </select>
    
    <select id="findOneById" resultType="memberEntity" parameterType="int">
        select * from member
        where id = #{id}
    </select>

    <insert id="insert" parameterType="memberEntity">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select member_seq.nextval from dual
        </selectKey>
        insert into member (id, email, nickname, hashtag)
        values (#{id}, #{email}, #{nickname}, #{hashtag})
    </insert>

    <update id="update" parameterType="memberEntity">
        update member
        set email = #{email}, nickname = #{nickname}, hashtag = #{hashtag}
        where id = #{id}
    </update>
    
    <delete id="deleteById" parameterType="int">
        delete from member
        where id = #{id}
    </delete>
</mapper>