<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.finals.mapper.MessageChannelMapper">
    <select id="findAllMessageByChannelIdAndTopicId" resultType="messageChannelEntity">
        select * from message_channel
        where channel_id = #{channelId} and topic_id = #{topicId}
    </select>

    <select  id="findOneById" resultType="messageChannelEntity" parameterType="int">
        select * from message_channel
        where id = #{id}
    </select>
    
    <insert id="insert" parameterType="messageChannelEntity" useGeneratedKeys="true" keyColumn="id">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select message_channel_seq.nextval from dual
        </selectKey>
        insert into message_channel (id, author_id, content, channel_id,  topic_id, created_at, updated_at)
        values (#{id}, #{authorId}, #{content}, #{channelId}, #{topicId}, #{createdAt}, #{updatedAt})
    </insert>

    <update id="update" parameterType="messageChannelEntity">
        update message_channel
        set author_id = #{authorId}, content = #{content}, created_at = #{createdAt}, channel_id = #{channelId}, topic_id = #{topicId}, updated_at = #{updatedAt}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        delete from message_channel
        where id = #{id}
    </delete>

</mapper>