<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.finals.mapper.TopicMapper">
    <select id="findAll" resultType="topicEntity">
        select * from topic
    </select>

    <select id="findOneById" resultType="topicEntity" parameterType="int">
        select * from topic
        where id = #{id}
    </select>

    <select id="findAllTopicByChannelId" resultType="topicEntity" parameterType="int">
        select * from topic
        where channel_id = #{channelId}
    </select>

    <insert id="insert" parameterType="topicEntity">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select topic_seq.nextval from dual
        </selectKey>
        insert into topic (id, title, channel_id)
        values (#{id}, #{title}, #{channelId})
    </insert>

    <update id="update" parameterType="topicEntity">
        update topic
        set title = #{title}, channel_id = #{channelId}
        where id = #{id}
    </update>

    <delete id="delete" >
        delete from topic
        where id = #{topicId} and channel_id = #{channelId}
    </delete>
</mapper>